@font-face {
  font-family: "Score Scheherazade New";
  src: url("/alphatab/chord-fonts/ScheherazadeNew-Bold.ttf") format("truetype");
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: "Score Finale Maestro Chord Symbols";
  src: url("/alphatab/smufl/finale-maestro/font.otf") format("opentype");
  font-display: swap;
  font-weight: 400;
}

.fontRegistry {
  isolation: isolate;
}
